.fotografias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.fotografias img{
    width: 150px;
    border-radius: 20px;
}
.poema :nth-child(odd){
    color: rgb(100, 104, 247);
}
.poema :nth-child(even){
    color: rgb(100, 104, 247);
}